<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- Optional CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="dashboard-wrapper">

    <!-- LEFT: Add User -->
    <div class="left-panel">
        <h2>Welcome, {{ user }}</h2>

        <form method="POST">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="email" name="email" placeholder="Enter Email" required>
            <button type="submit">Add User</button>
        </form>

        <a href="/logout" class="logout-btn">Logout</a>
    </div>

    <!-- RIGHT: User List -->
    <div class="right-panel">
        <h3>User List</h3>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>

            {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.email }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

</body>
</html>